/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/**=================
* Estilos Generales
====================**/

body {
    background: #eee;
}


/* Header */
.pnt-header {
    background-blend-mode: soft-light !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.pnt-header .pnt-port {
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-box-pack:  center;
    -ms-flex-pack:  center;
    justify-content:  center;
}

.pnt-header .pnt-port img {
    width:  100px;
    color:  white;
    position:  relative;
}

.pnt-header-title {
    background: rgba(0, 0, 0, 0.29);
    text-align:  center;
    padding:  9px 0;
}

.pnt-header-title h4 {
    color:  white;
    margin:  0;
}

.pnt-header-title i {
    margin-right: 7px;
}

/* Boton de guardar, solo si se coloca encima del degradado */
.btn-pnt {
    border: 0;
    color: white;
    width: auto;
    height: 41px;
    padding: 0 14px 0 17px;
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 99;
}

/* Elementos menu navegacion izquierdo opciones tema */
ul.pnt-menu {
    margin: 0;
    padding: 0;
    background: #293b3f;
}

ul.pnt-menu li {
    color: #fff;
    margin-bottom: 0px;
}

ul.pnt-menu li a {
    color: #fff;
    padding: 12px 11px;
    display: flex;
    align-items: center;
    border-left: 7px solid transparent;
}

ul.pnt-menu li a.active {
    border-left: 7px solid rgba(255,255,255,0.6);
    background: #0073aa;
    text-decoration: none;
}

ul.pnt-menu li a:hover {
    border-left: 7px solid rgba(255,255,255,0.6);
    background: #161e21;
    text-decoration: none;
}

.pnt-menu i {
    margin-right: .6rem;
    font-size: 1.5rem;
}

/* Columna derecha - Opciones del tema */


.pnt-sec-configs {
    padding: 20px;
    border: 1px solid #ababab;
    border-top-width: 4px;
}

.form-control {
    border: 1px solid #7e8993;
}

input#pnt-image {
    width: inherit;
    flex: 1;
}

.pnt-input-media input {
    padding-right: 60px;
}

span.pnt-media-remove {
    position: absolute;
    right: 12px;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    background: firebrick;
    color: #fff;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.pnt-input-media >* {
    height: 2.8rem;
}

.pnt-media-preview {
    margin: 7px 0px 23px 0px;
    display: none;
}

.pnt-media-preview img {
    width: 100%;
    display: block;
}

.pnt-content {
    display: none;
}